{
    "current": {
        "hosts": {
            "s1-host001.example.com" : {
                "site": "dc1"
            },
            "s1-host002.example.com" : {
                "site": "dc1"
            },
            "s1-host003.example.com" : {
                "site": "dc1"
            },
            "s1-host004.example.com" : {
                "site": "dc1"
            },
            "s1-host005.example.com" : {
                "site": "dc1"
            },
            "s1-host006.example.com" : {
                "site": "dc1"
            },
            "s1-host007.example.com" : {
                "site": "dc1"
            },
            "s1-host008.example.com" : {
                "site": "dc1"
            },
            "s1-host009.example.com" : {
                "site": "dc1"
            },
            "s1-host010.example.com" : {
                "site": "dc1"
            },
            "s2-host001.example.com" : {
                "site": "dc2"
            },
            "s2-host002.example.com" : {
                "site": "dc2"
            },
            "s2-host003.example.com" : {
                "site": "dc2"
            },
            "s2-host004.example.com" : {
                "site": "dc2"
            },
            "s2-host005.example.com" : {
                "site": "dc2"
            },
            "s2-host006.example.com" : {
                "site": "dc2"
            },
            "s2-host007.example.com" : {
                "site": "dc2"
            },
            "s2-host008.example.com" : {
                "site": "dc2"
            },
            "s2-host009.example.com" : {
                "site": "dc2"
            },
            "s2-host010.example.com" : {
                "site": "dc2"
            },
            "s3-host001.example.com" : {
                "site": "dc3"
            },
            "s3-host002.example.com" : {
                "site": "dc3"
            },
            "s3-host003.example.com" : {
                "site": "dc3"
            },
            "s3-host004.example.com" : {
                "site": "dc3"
            },
            "s3-host005.example.com" : {
                "site": "dc3"
            },
            "s3-host006.example.com" : {
                "site": "dc3"
            },
            "s3-host007.example.com" : {
                "site": "dc3"
            },
            "s3-host008.example.com" : {
                "site": "dc3"
            },
            "s3-host009.example.com" : {
                "site": "dc3"
            },
            "s3-host010.example.com" : {
                "site": "dc3"
            }
        },
        "replica_sites": 2,
        "replicas_per_site": 2,
        "storage_directory": "/srv/scs/files",
        "bind_port": 80
    },
    "new": {
    }
}
